@tailwind base;
@tailwind components;
@tailwind utilities;

@import '(fonts)/quadon/quadon.css';
@import '(fonts)/arnhem/arnhem.css';
@import '(fonts)/gentona/gentona.css';
@import '(fonts)/dejavu/dejavu.css';

:root {
  --accent-color: #000000;  /* This will be overwritten right away */
  --navbar-height: 100px;     /* This will be overwritten right away */
}

::selection {
  background-color: var(--accent-color);
  color: white;
}

body {
  color: white;
  background-color: black;
}