@tailwind base;
@tailwind components;
@tailwind utilities;

@import '(fonts)/quadon/quadon.css';
@import '(fonts)/arnhem/arnhem.css';
@import '(fonts)/gentona/gentona.css';
@import '(fonts)/dejavu/dejavu.css';

:root {
  --accent-color: #002d72;
  --navbar-height: 100px; /* This will be overwritten right away */
}

body {
  color: white;
  background-color: black;
}