.PageContainer p {
    font-family: 'gentona';
    font-size: 100%;
    text-align: justify;
}

.PageContainer :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'quadon';
    font-weight: normal;
}

.PageContainer button {
    font-family: 'gentona';
    font-weight: normal;
}

.PageContainer code {
    color: #dce5f5;
    background-color: #283447;
}

/*allows adjustment of codeblock line heights*/
.PageContainer .flatten code {
    line-height: 1em !important;
}

.PageContainer textarea {
    font-family: 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo, Consolas, Courier, monospace;
    font-size: 12px;
    color: #dce5f5;
    background-color: #283447;
    resize: none;
    border: none;
    outline: solid #dce5f5 1px;
    line-height: 1em;
    overflow-y: hidden;
    white-space: pre;
}

.PageContainer textarea.failure {
    outline: solid red 1px;
}

.PageContainer textarea::selection {
    color: #1a1d21;
    background-color: #cde2ff;
}

.PageContainer textarea:focus {
    outline: solid white 2px;
}

.PageContainer textarea.failure:focus {
    outline: solid red 2px;
}
