.PageContainer p {
    font-family: 'gentona';
    font-size: 100%;
    text-align: justify;
}

.PageContainer :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'quadon';
    font-weight: normal;
}

.PageContainer button {
    font-family: 'gentona';
    font-weight: normal;
}

.PageContainer code {
    color: #dce5f5;
    background-color: #283447;
}

/*make code use a consistent font across browsers*/
.PageContainer .codeline code,
.PageContainer .codeblock code {
    font-family: 'DejaVu Sans Mono' !important;
}

/*allows adjustment of codeblock line heights*/
.PageContainer .flatten code {
    font-size: 12px !important;
    line-height: 1.15em !important;
}

.PageContainer textarea {
    font-family: 'DejaVu Sans Mono';
    font-size: 12px;
    line-height: 1.15em;
    color: #dce5f5;
    background-color: #283447;
    resize: none;
    border: none;
    outline: solid #dce5f5 1px;
    overflow-y: hidden;
    white-space: pre;
}

.PageContainer textarea.failure {
    outline: solid #e03c31 1px;
}

.PageContainer textarea::selection {
    color: #1a1d21;
    background-color: #cde2ff;
}

.PageContainer textarea:focus {
    outline: solid white 2px;
}

.PageContainer textarea.failure:focus {
    outline: solid #e03c31 2px;
}
